@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-logo img {
    width: 75px;
    height: 50px;
}

.heading {
    font-family: "Public Sans", sans-serif;
    font-size: 36px;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
}

.nav-link {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
    font-family: "Public Sans", sans-serif;
    font-size: 1em;
}

.nav-link:last-child {
    margin-right: 0;
}

.cart-icon-wrapper {
    display: flex;
    align-items: flex-end;
    position: relative;
}

.fas.fa-shopping-cart {
    font-size: 1.5em;
    color: #333;
}

.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #dc3545;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 0.5em;
}

@media (max-width: 768px) {
    .card-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-logo img {
        width: 60px;
        height: 40px;
    }

    .heading {
        font-size: 28px;
        margin-top: 10px;
    }

    .nav-links {
        width: 100%;
        justify-content: space-between;
        margin-top: 10px;
    }

    .nav-link {
        margin-right: 10px;
        font-size: 0.9em;
    }

    .fas.fa-shopping-cart {
        font-size: 1.2em;
    }

    .cart-count {
        padding: 4px 8px;
        font-size: 0.4em;
    }
}

@media (max-width: 480px) {
    .card-header {
        padding: 10px;
    }

    .header-logo img {
        width: 50px;
        height: 30px;
    }

    .heading {
        font-size: 24px;
    }

    .nav-links {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-link {
        margin-right: 0;
        margin-bottom: 10px;
        font-size: 0.8em;
    }

    .cart-icon-wrapper {
        align-self: flex-end;
    }

    .fas.fa-shopping-cart {
        font-size: 1em;
    }

    .cart-count {
        padding: 3px 6px;
        font-size: 0.3em;
    }
}