.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1000;
}

.popup-sec {
    background: #fff;
    max-width: 600px;
    width: 90%;
    margin: auto;
    padding: 20px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popup-sec>button {
    position: absolute;
    right: 15px;
    top: 15px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #ff5c5c;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.popup-sec>button:hover {
    background-color: #ff3b3b;
}

.popup-data {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.productData img {
    width: 80px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.popup-data span {
    margin: 0 10px;
    font-size: 16px;
    font-weight: 500;
}

.popup-data button {
    border: none;
    background-color: #28a745;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.popup-data button:hover {
    background-color: #a72828;
}